*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

html{
    font-size: 16px;
    height: 100vh;
}

body{
    background-color: rgb(224, 224, 224);
    height: 100vh;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding-top: 30px;
    padding-bottom: 20px;
}

form{
    width: 450px;
    max-width: 90%;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .1);
    padding: 30px 30px 25px 30px;
}

form *{
    color: #272727;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.img-logo{
    width: 200px;
    max-width: 80%;
    margin-bottom: 25px;
}

form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    margin-bottom: 30px;
}

form label{
    display: block;
    margin-top: 30px;
    font-weight: 500;
}

.radio-group {
    display: flex;
    gap: 30px;
    margin-top: 8px;
}

.radio-option {
    display: flex;
    align-items: center;
    font-weight: 400;
    gap: 8px;
    cursor: pointer;
    user-select: none;
}
form input[type="radio"] {
    all: unset; /* remove todos os estilos herdados */
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: border 0.2s ease-in-out;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
}

form input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px; /* tamanho do ponto interno */
    height: 10px;
    border-radius: 50%;
    background-color: #0076df; /* cor do ponto quando selecionado */
}

::placeholder{
    color: #757575;
}

form button{
    margin-top: 12px;
    width: 100%;
    background-color: #0076df;
    color: #ffffff;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.actions{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;        
}

.actions a{
    text-decoration: none;
}

.actions a:hover{
    text-decoration: underline;
}

.actions p{
    color: #696969;
    margin-bottom: 10px;
}

.input-container {
    position: relative;
    width: 100%;
}

.input-container .icon {
    position: absolute;
    left: 13px;
    top: 60%;
    transform: translateY(-50%);
    color: #757575;
    pointer-events: none; /* deixa o clique passar para o input */
}

.input-container .input-field {
    width: 100%;
    height: 40px;
    padding-left: 40px; /* espaço pro ícone */
    border: 1px solid rgb(224, 224, 224);
    background-color: #f9f9f9;
    font-size: 14px;
    color: #272727;
    margin-top: 12px;
    font-weight: 400;
}

.input-container .input-field:focus{
    background-color: #ffffff;
}

.required-content {
    color: red;
    margin-left: 4px;
}

.simple-input{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid rgb(224, 224, 224);
    background-color: #f9f9f9;
    font-size: 14px;
    color: #272727;
    margin-top: 12px;
    font-weight: 400;
}