.canva-container{
    width: 900px;
    max-width: 90%;
    height: 400px;
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.title-welcome{
    width: 900px;
    max-width: 95%;
    text-align: left;
    margin-top: 10px;
}

.title-welcome span{
    display: block;
    font-size: 1.5rem;
    margin-bottom: 30px;
    font-weight: bold;
}

.title-welcome p{
    color: rgb(0, 82, 78);
    font-weight: 500;
}

.card-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;       
    justify-content: center;  
    gap: 1rem;
    margin: 20px 0 40px 0;
}

.dashcard {
    width: 290px;
    max-width: 90%;   
    padding: 10px 20px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.dashcard span.number{
    display: block;
    font-size: 30px;
    font-weight: bold;
}

.dashcard span.text{
    display: inline-block;
    font-weight: 500;
}

#card-editais{
    background-color: #c1e7c4;
    color: #2a692e;
}

#card-analises{
    background-color: #f8d4b9;
    color: #94741c;
}

#card-entrevistas{
    background-color: #cadfee;
    color: #2e6bc6;
}

.pizzas-container {
    display: flex;
    gap: 30px;
    margin: 30px 0;
    flex-wrap: wrap;
    width: 900px;
    max-width: 90%;
    border-radius: 20px;
}

.pizza-box {
    flex: 1;
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    max-width: 100%;
}

.filtros-dashboard {
    display: flex;
    flex-wrap: wrap; /* permite quebrar linha se necessário */
    gap: 10px;
    margin-top: 20px;
    width: 900px;
    max-width: 95%;
    margin-bottom: 15px;
}

.filtros-selector {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Botão */
.filtro-option {
    display: inline-flex; /* importante */
    align-items: center;
    justify-content: center;
    border-radius: 20px; /* visual mais moderno */
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
    background: #f1f1f1;
    font-size: 14px;
    white-space: nowrap; /* 🔥 impede quebra de linha */
}

/* Esconde o radio real */
.filtro-option input[type="radio"] {
    display: none;
}

/* Texto interno */
.filtro-option span {
    white-space: nowrap; /* 🔥 impede wrap */
    padding: 6px 14px;
}

/* Estado selecionado */
.filtro-option input:checked + span {
    background: #979797;
    color: #fff;
    padding: 6px 14px;
    border-radius: 20px;
}

/* Hover */
.filtro-option:hover {
    background: #e2e2e2;
}

@media screen and (max-width: 768px) {
    .dashcard{
        width: 90%;
    }
}