/* Tabelas CRUD */
@import url('../ag-grid/styles/ag-theme-alpine.css');

.container-tabela {
    width: 1310px;
    max-width: 90%;
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto;      /* scroll no container */
}

#tabela-vigente {
    width: 100%;
    border-collapse: collapse;
}

#ag-Grid-SelectionColumn{
    width: 40;
}

/* Faz o grid se ajustar e não cortar o texto */
.ag-theme-alpine {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  border-radius: 10px;
}

/* Permite quebra de texto no cabeçalho */
.ag-header-cell-label{
  white-space: normal !important;
  text-overflow: clip !important;
  line-height: 1.3;
}


/* Reduz o tamanho do texto em telas menores */
@media (max-width: 768px) {
  .ag-theme-alpine {
    font-size: 13px;
  }
  .ag-header-cell-text {
    white-space: normal !important;
    font-size: 12px;
  }
}

/* === Grupo de botões principal === */
.btn-grp-tabela {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
}

/* Subgrupos */
.btn-grp-principal,
.btn-grp-secundario {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Botões */
.btn-grp-tabela button,
.btn-grp-tabela a {
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 6px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/* Ícones dentro de botões */
.btn-grp-tabela svg {
    margin-right: 5px;
    flex-shrink: 0;
}

/* Hover suave */
.btn-grp-tabela button:hover,
.btn-grp-tabela a:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* === RESPONSIVIDADE === */
@media (max-width: 700px) {
    .btn-grp-tabela {
        flex-direction: column;
        align-items: stretch;
    }

    .btn-grp-principal,
    .btn-grp-secundario {
        flex-direction: column;
        width: 100%;
    }

    .btn-grp-tabela button,
    .btn-grp-tabela a {
        width: 100%;
        justify-content: center;
        font-size: 15px;
    }
}

#btn-adicionar { background-color: #21b169; color: white; }
#btn-alterar { background-color: #4da6ff; color: white; }
#btn-excluir { background-color: #fc5459; color: white; }
#btn-visualizar { background-color: #f0ad4e; color: white; }
#btn-limpar-filtros { background-color: #bbbbbb; color: white; }
#btn-vincular, #btn-visibilidade { background-color: #eea6db; color: white; }
#btn-comunicar, #btn-entrevista { background-color: #dedede; color: #000000; }
.link-dropdown > a { background-color: #dedede; color: white; }

.btn-grp-tabela button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.disabled-link {
    opacity: 0.5;  
    text-decoration: none;
    color: gray;
    pointer-events: none;
}

.m-3{
    margin-top: 30px;
}

/* */
.fase-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}

.fase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 18px;
    border-radius: 10px;
    color: #000000;
    background-color: #f5f5f5;
    font-weight: 500;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.fase-titulo {
    font-weight: 600;
}

.fase-datas {
    font-size: 0.95rem;
    opacity: 0.9;
}

.fase-data{
    text-align: right;
}
.tag-context {
  display: inline-block;
  color: white;
  font-weight: bold;
  padding: 0 6px;
  margin-left: 8px;
  border-radius: 4px;
  font-size: 0.87em;
  font-family: Arial, sans-serif;
  vertical-align: center;
}

.tag-context.candidato{
    background-color: rgb(0, 0, 0, 0.4);
}

.container-vigentes{
    width: 800px;
    max-width: 90%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
}


.card-edital {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.card-edital:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.card-edital h2 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 0.5rem;
    text-align: left;
    white-space: nowrap;      
    overflow: hidden;         
    text-overflow: ellipsis;   
}

.card-edital .data {
    font-size: 0.9rem;
    color: #777;
    margin-top: 10px;
}

@media (max-width: 600px) {
    .card-edital {
        padding: 15px;
    }
}

.container-details{
    width: 800px;
    max-width: 90%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.container-details h2 {
    margin: 20px 0 10px;
    color: #222;
    font-size: 1.3rem;
    border-left: 4px solid #3b82f6;
    padding-left: 10px;
    text-align: left;
}

.container-details p.warning{
    color: #e74c3c;
    font-weight: bold;
    margin-top: 30px;
}

.btn-grp-details{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 40px;
}

.btn-grp-details a{
    background-color: #dddddd;
    color: #272727;
    margin-top: 12px;
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.btn-grp-details a:hover{
    background-color: #bdbdbd;
}

.container-details a.confirm{
    margin-top: 12px;
    width: 100%;
    background-color: #0076df;
    color: #ffffff;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}

.container-details a.confirm:hover{
    background-color: #0167c0;
}

.table-wrapper {
    overflow-x: auto;
}

.details-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
    font-size: 0.95rem;
}


.details-table th {
    text-align: left;
    padding: 10px 14px 7px 14px;
    font-weight: 600;
    color: #333;
    white-space: nowrap;
    background: transparent;
    border: none;
    font-size: 0.9rem;
    display: block;
    width: 100%;
}

.details-table td {
    display: block;
    width: 100%;
    padding: 4px 14px 10px 14px;
    border: none;
    color: #555;
}

.details-table tr {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
    background: #fafafa;
}

.details-table a {
    color: #2563eb;
    text-decoration: none;
    font-weight: 500;
}

.details-table a:hover {
    text-decoration: underline;
}

span.muted {
    color: #888;
    font-style: italic;
    margin-top: 0;
}


.doc-item {
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
}
.doc-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.doc-header span{
    text-align: left;
}
.doc-header a{
    text-align: right;
}
.doc-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.doc-actions input{
    cursor: pointer;
}
.motivo-container {
    margin-top: 0.5rem;
    display: none;
}
textarea {
    width: 100%;
    resize: vertical;
    min-height: 70px;
}
.abrir-btn {
    text-decoration: none;
    color: #0d6efd;
    font-weight: 500;
}
.abrir-btn:hover {
    text-decoration: underline;
}

.comentarios-textarea {
    width: 100%;
    min-height: 120px;
    border: 1px solid rgba(206, 206, 206, 1);
    padding: 10px;
    font-size: 14px;
    color: #272727;
    margin-top: 12px;
    border-radius: 6px;
    resize: vertical;
    line-height: 1.4;
}

.doc-item .comentarios-textarea {
    border: 1px solid rgba(255, 219, 219, 1);
    background-color: #ffe6e6ff;
}

.comentarios-textarea:focus {
    background-color: #ffffff;
    outline: none;
    border-color: #0076df;
    box-shadow: 0 0 0 3px rgba(0,118,223,0.08);
}

.doc-item.ok {
    background-color: #ccf8d9ff;
    border-color: #198754; 
}

.doc-item.nao-ok {
    background-color: #f9c5c5ff;
    border-color: #dc3545; 
}

#pendente{
    color: orange;
}

#deferido{
    color: lightgreen;
}

#indeferido{
    color: red;
}


.dropdown-content {
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 12px;
    background: #dedede;
    color: #000000;
    border-radius: 8px;
    gap: 5px;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.dropdown-content svg{
	margin-left: 5px;
	cursor: pointer;
}

.link-dropdown {
    position: absolute;
    top: 110%; /* aparece logo abaixo do avatar */
    right: 0;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    display: none;
    flex-direction: column;
    min-width: 150px;
    z-index: 2000;
}

.dropdown-content span{
    font-weight: 500;
    font-size: 14px;
}

.link-dropdown a {
    all: unset;
    padding: 10px 15px;
    text-decoration: none;
    color: #000000;
    transition: background 0.2s;
}

.link-dropdown a:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 0.5px solid rgb(189, 189, 189);
}

.link-dropdown a:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.link-dropdown a:hover {
    background: #f0f0f0;
}